workflows/my-notion-bot.json
[{"updatedAt":"2026-01-28T06:03:01.507Z","createdAt":"2026-01-23T02:19:18.721Z","id":"GDiYDb8MuGahJrlQq7oZa","name":"My workflow","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"discord-note","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[96,-16],"id":"f7b2ff4c-f1b1-4d63-ae65-acc0b4277e34","name":"Webhook","webhookId":"a2d4ed0e-7644-4af3-851d-75a836c3cd26"},{"parameters":{"respondWith":"text","responseBody":"응답 응답 응답 ! ","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[352,-16],"id":"ebaec7f7-a853-45f9-afe2-ee27dcc15509","name":"Respond to Webhook","notesInFlow":false}],"connections":{"Webhook":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2ded3298-597c-4d5b-bfba-e492581bba7e","activeVersionId":null,"versionCounter":23,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-01-23T02:19:18.723Z","createdAt":"2026-01-23T02:19:18.723Z","role":"workflow:owner","workflowId":"GDiYDb8MuGahJrlQq7oZa","projectId":"my7fjI51NLihWimc","project":{"updatedAt":"2026-01-23T01:58:48.016Z","createdAt":"2026-01-23T01:56:29.972Z","id":"my7fjI51NLihWimc","name":"JINIL KIM <hydrider@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"d01b75cb-4a6f-42d4-8636-03831d2b186a"}}]},{"updatedAt":"2026-01-28T09:01:03.249Z","createdAt":"2026-01-28T06:21:34.334Z","id":"r7k-t2aMlSXXwMKiZ2dRk","name":"My workflow 2","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"b3a9f793-b08d-49dc-9194-1d28c7d94fcb","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-736,224],"id":"1eae98f0-d05b-4332-b984-9d4103cb76cb","name":"Webhook","webhookId":"b3a9f793-b08d-49dc-9194-1d28c7d94fcb","disabled":true},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"2f65a6e0-3fe6-80e3-9b5f-d5611a452bee","mode":"list","cachedResultName":"2notion","cachedResultUrl":"https://www.notion.so/2f65a6e03fe680e39b5fd5611a452bee"},"propertiesUi":{"propertyValues":[{"key":"contents|rich_text","textContent":"={{ $json.body.contents }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[-16,-80],"id":"b1099867-5088-4e40-98bc-02a61ba83fa6","name":"Create a database page","credentials":{"notionApi":{"id":"Sw4E89V8DgEnlayd","name":"Notion account"}}},{"parameters":{},"type":"n8n-nodes-discord.discordTrigger","typeVersion":1,"position":[-432,-80],"id":"30a8f418-bc5d-4f74-9f76-c32ca47264b4","name":"Discord Trigger","webhookId":"06a430e7-45d4-431f-8bf5-9468cdda5a55","credentials":{"discordApi":{"id":"KtabLsimVmz62DXH","name":"Discord App account"}}}],"connections":{"Webhook":{"main":[[]]},"Discord Trigger":{"main":[[{"node":"Create a database page","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"fa07961f-dfa5-4a72-b29d-f2844dc70148","activeVersionId":null,"versionCounter":56,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-01-28T06:21:34.340Z","createdAt":"2026-01-28T06:21:34.340Z","role":"workflow:owner","workflowId":"r7k-t2aMlSXXwMKiZ2dRk","projectId":"my7fjI51NLihWimc","project":{"updatedAt":"2026-01-23T01:58:48.016Z","createdAt":"2026-01-23T01:56:29.972Z","id":"my7fjI51NLihWimc","name":"JINIL KIM <hydrider@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"d01b75cb-4a6f-42d4-8636-03831d2b186a"}}]}]